/target
.*
/src/n8w8_capnp.rs
/src/models/n8w8.rs
/testdb-data
/out

*.log

orm/postgresql.jar
out
*.deb
*.rpm
*.xml.gz
*.sqlite.bz2
repomd.xml
pubring.kbx
trustdb.gpg
*~
*.asc
*.key
*.rev
/repository/gpg
