[Unit]
Description=The Nachtwacht OpenMetrics Server
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/n8w8-metrics-server
ExecStart=/usr/bin/nachtwacht-metrics-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
RequiredBy=network.target
